body {
    margin: 0;
    font-family: Arial;
    background: #414040;
    color: #e2e8f0;
    display: flex;
}

/* ================= SIDEBAR ================= */
.sidebar {
    width: 240px;
    height: 100vh;
    position: fixed;
    background: #2b2e30;
    padding: 20px;
    overflow-y: auto;
}

.sidebar h3 {
    color: #1eff00;
}

.sidebar a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 6px;
    transition: 0.2s;
}

/* hover */
.sidebar a:hover {
    background: #9a0c8c;
    color: #00aaf2;
}

/* ACTIVE LINK */
.sidebar a.active {
    background: #38bdf8;
    color: #0f172a;
    font-weight: bold;
}

/* scrollbar */
.sidebar::-webkit-scrollbar {
    width: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
    background: #38bdf8;
    border-radius: 10px;
}

/* ================= MAIN ================= */
.container {
    margin-left: 300px;
    padding: 20px;
    max-width: 1500px;
}

.title {
    text-align: center;
    font-size: 30px;
    color: #00d3de;
    margin-bottom: 10px;
}

/* SECTION */
.section {
    background: #252425;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 1px solid rgba(168, 44, 44, 0.2);
}

/* COMMAND */
.command {
    font-family: monospace;
    background: #2f2f2f;
    padding: 8px 12px;
    margin: 6px 0;
    border-left: 3px solid #61a940;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    font-size: large;
}

.command:hover {
    background: #111c33;
    transform: translateX(4px);
}